*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

html, body {
    height: 100%;
    width: 100%;
}

.game {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url(./bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
    .game .header{
        height: 20vmin;
        width: 80vmin;
        font-size: 10vmin;
        box-sizing: border-box;
        border-bottom: 1px solid black;
    }
    .game .field{
        z-index: 1;
        position: relative;
        height: 80vmin;
        width: 80vmin;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
    }
        .game .field .cell{
            height: 18vmin;
            width: 18vmin;
            box-sizing: border-box;
            margin: 1vmin;
            /* border: 2px solid green; */
            border-radius: 2vmin;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 9vmin;
            background: #eee4da;
            /* background-image: none;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover; 
            color: transparent;*/
            transition: background-image 0.2s ease-in-out, height 0.2s, width 0.2s, margin 0.2s;
        }

        @keyframes hide {
            from {opacity: 1;}
            to {opacity: 0;}
            }
        .game .field .cell.highlight{
            margin: 0;
            height: 20vmin;
            width: 20vmin;
        }

        .game .field .cell.animate{
            position: absolute;
            margin: 0;
            transition: left 0.2s, top 0.2s;
            z-index: -1;
            animation-name: hide;
            animation-duration: 0.2s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }

        .game .field .cell[data-ship = "2"]{
            background: #eee4da;
        
        }
        .game .field .cell[data-ship = "4"]{
            background: #ede0c8;
        }
        .game .field .cell[data-ship = "8"]{
            color: #f9f6f2;
            background: #f2b179;

        }
        .game .field .cell[data-ship = "16"]{
            color: #f9f6f2;
            background: #f59563;
        }
        .game .field .cell[data-ship = "32"]{
            color: #f9f6f2;
            background: #f67c5f;
        }
        .game .field .cell[data-ship = "64"]{
            color: #f9f6f2;
            background: #f65e3b;
        }
        .game .field .cell[data-ship = "128"]{
            color: #f9f6f2;
            background: #edcf72;
        }
        .game .field .cell[data-ship = "256"]{
            color: #f9f6f2;
            background: #edcc61;
        }
        .game .field .cell[data-ship = "512"]{
            color: #f9f6f2;
            background: #edc850;
        }
        .game .field .cell[data-ship = "1024"]{
            color: #f9f6f2;
            background: #edc53f;
        }
        .game .field .cell[data-ship = "2048"]{
            color: #f9f6f2;
            background: #3c3a32;
        }

